html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.page-header {
  width: 100%;
  flex: 0 0 100px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-title {
  flex: 0 0 85%;
  text-align: center;
}

.page-title-icon {
  flex: 0 0 15%;
  text-align: center;
}

.page-title-text {
  color: white;
  font-size: 2em;
}

@keyframes slideOn {
	from	{left: -1000px;}
	to    {left: 0px;}
}

@keyframes slideOff {
	from  {left: 0px;}
	to    {left: -1000px;}
}

.filter-comp {
  position: absolute;
  top: 100px;
  bottom: 0px;
  width: 30%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.filter-comp.open {
  animation: slideOn 0.50s ease 0s 1 normal forwards running;
}

.filter-comp.close {
  animation: slideOff 0.50s ease 0s 1 normal forwards running;
}

.filter-comp.invisible {
  left: -1000px;
}

.filter-comp.visible {
  left: 0px;
}

#map {
  flex: 1 0 100%;
}
.map-col {
  width: 100%;
  background-color: blue;
}

@media screen and (min-width: 660px)
{
  body {
    font-family: sans-serif;
  }

  .page-title {
    flex: 0 0 100%;
    padding-right: 0;
  }

  .page-title-icon {
    display: none;
  }

  .filter-comp {
    position: static;
    left: 0px;
    top: 0px;
    width: 100%;
    flex: 0 0 100%;
    
  }

  .filter-comp.open {
    position: static;
    left: 0px;
    top: 0px;
    width: 100%;
    flex: 0 0 100%;
  }

  .filter-comp.close {
    position: static;
    left: 0px;
    top: 0px;
    width: 100%;
    flex: 0 0 100%;
  }

  .filter-comp.invisible {
    position: static;
    left: 0px;
    top: 0px;
    width: 100%;
    flex: 0 0 100%;
  }

  .filter-comp.visible {
    position: static;
    left: 0px;
    top: 0px;
    width: 100%;
    flex: 0 0 100%;
  }

  .map-col {
    width: auto;
  }
}